---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3>Maps, GIS, and Data</h3>
			With a background in GIS and Computer Science, I maintain a keen interest
			in all things geospatial. Location is a medium we all deal with and
			leveraging that information to understand the world around us is powerful.
			<h3>Software Development</h3>
			From automation of repetitive tasks to building web applications which solve 
			institutional problems. There's something really enjoyable about the positive
			feedback loop which comes from writing code.
			<h3>Higher Education and Learning</h3>
			As someone who considers themselves a lifelong learner, one of the best
			parts of my work is watching students (and colleagues) have that A-HA! 
			moment when they have finally understood a difficult concept. Leading
			others to have those moments is very rewarding.
		</main>
		<Footer />
	</body>
</html>
